@charset "UTF-8";
/********* VARIÁVEIS *********/
/********* CONFIGURAÇÔES *********/
/* line 14, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/main.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* line 20, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/main.scss */
html {
  scroll-behavior: smooth; }

/* line 24, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/main.scss */
a {
  display: block;
  text-decoration: none; }

/* line 29, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/main.scss */
ul, li {
  list-style: none; }

/* line 33, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/main.scss */
img {
  display: block;
  width: 100%; }

/********* MIXINS *********/
/********* PÁGINA *********/
/* line 1, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_header.scss */
.header {
  background-image: url("../img/header/background-header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  max-width: 62.5rem;
  margin: 0 auto;
  position: relative;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 20%; }
  @media (min-width: 0px) and (max-width: 480px) {
    /* line 1, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_header.scss */
    .header {
      height: 30vh; } }
  /* line 17, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_header.scss */
  .header .design-detalhe {
    width: 95vw;
    background-color: #000; }
  /* line 24, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_header.scss */
  .header .frascos1 {
    width: 550px;
    position: absolute;
    bottom: -90px;
    left: -200px; }
    @media (min-width: 0px) and (max-width: 480px) {
      /* line 24, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_header.scss */
      .header .frascos1 {
        width: 280px;
        bottom: -50px;
        left: -32px; } }
    @media (min-width: 480px) and (max-width: 768px) {
      /* line 24, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_header.scss */
      .header .frascos1 {
        width: 300px; } }
  /* line 43, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_header.scss */
  .header .menu__mobile {
    width: 75px;
    position: fixed;
    top: 0;
    right: 4px;
    cursor: pointer;
    z-index: 100; }
    @media (min-width: 0px) and (max-width: 480px) {
      /* line 43, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_header.scss */
      .header .menu__mobile {
        width: 60px; } }
  /* line 56, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_header.scss */
  .header .logo {
    width: 300px;
    padding: 1rem; }
    @media (min-width: 0px) and (max-width: 480px) {
      /* line 56, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_header.scss */
      .header .logo {
        width: 200px; } }
  /* line 66, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_header.scss */
  .header .nav {
    z-index: 100; }
  /* line 70, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_header.scss */
  .header .nav__menu {
    display: none;
    flex-direction: column;
    gap: .5rem;
    position: fixed;
    top: 70px;
    right: 6px;
    z-index: 100; }
    @media (min-width: 0px) and (max-width: 480px) {
      /* line 70, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_header.scss */
      .header .nav__menu {
        top: 60px;
        gap: .2rem; } }
  /* line 85, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_header.scss */
  .header .nav__menu.ativo {
    display: flex; }
  /* line 93, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_header.scss */
  .header .nav__link {
    font-family: "Voltaire", sans-serif;
    background-color: #31A6AA;
    padding: .5rem;
    text-align: center;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    color: #fff;
    font-size: 1.2rem;
    border: 1px solid #000; }
    /* line 104, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_header.scss */
    .header .nav__link:hover {
      border-top-left-radius: 35px;
      border-bottom-right-radius: 35px;
      background-color: #542639;
      transition: all .5s;
      border: 1px solid #fff; }
    @media (min-width: 0px) and (max-width: 480px) {
      /* line 93, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_header.scss */
      .header .nav__link {
        font-size: .6rem;
        padding: .3rem; } }
    @media (min-width: 480px) and (max-width: 768px) {
      /* line 93, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_header.scss */
      .header .nav__link {
        font-size: .8rem;
        padding: .4rem; } }

/* line 1, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_cards-anuncio.scss */
.cards__anuncio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 4rem auto;
  max-width: 62.5rem;
  border-bottom-right-radius: 20%;
  position: relative;
  background-color: #542639;
  border-top-left-radius: 40%; }
  @media (min-width: 0px) and (max-width: 480px) {
    /* line 1, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_cards-anuncio.scss */
    .cards__anuncio {
      height: 25vh;
      margin: 4rem auto; } }
  @media (min-width: 480px) and (max-width: 768px) {
    /* line 1, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_cards-anuncio.scss */
    .cards__anuncio {
      height: 35vh; } }
  @media (min-width: 768px) and (max-width: 1440px) {
    /* line 1, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_cards-anuncio.scss */
    .cards__anuncio {
      height: 35vh; } }
  /* line 34, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_cards-anuncio.scss */
  .cards__anuncio .img__card__anuncio {
    width: 250px;
    margin-bottom: .5rem; }
    @media (min-width: 0px) and (max-width: 480px) {
      /* line 34, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_cards-anuncio.scss */
      .cards__anuncio .img__card__anuncio {
        width: 180px; } }
  /* line 43, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_cards-anuncio.scss */
  .cards__anuncio .info__anuncio {
    padding: 1rem;
    background-color: #542639;
    border-top-left-radius: 30%;
    box-shadow: 4px 4px 10px 4px #000; }
  /* line 50, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_cards-anuncio.scss */
  .cards__anuncio .anuncio__p {
    text-align: center;
    font-family: "Thasadith", sans-serif;
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: .5rem; }
  /* line 58, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_cards-anuncio.scss */
  .cards__anuncio .anuncio__link {
    background-color: #31A6AA;
    padding: .5rem;
    text-align: center;
    border-top-left-radius: 15%;
    color: #fff;
    font-family: "Carter One", cursive;
    font-size: 1.2rem;
    border: 2px solid #fff;
    margin: 0 auto;
    width: 120px;
    font-weight: bold; }
    /* line 71, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_cards-anuncio.scss */
    .cards__anuncio .anuncio__link:hover {
      background-color: #BD6C8C;
      transition: all .5s;
      border: 2px solid #000; }

/* line 1, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
.promocao {
  max-width: 62.5rem;
  margin: 0 auto;
  box-shadow: 4px 4px 20px 2px #000;
  padding-bottom: 2rem;
  /******* CARDS PROMO FEM ********/
  /******* SWIPER SLIDER's ********/ }
  @media (min-width: 0px) and (max-width: 480px) {
    /* line 1, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
    .promocao {
      margin-top: 72rem; } }
  @media (min-width: 480px) and (max-width: 768px) {
    /* line 1, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
    .promocao {
      margin-top: 70rem; } }
  @media (min-width: 768px) and (max-width: 1440px) {
    /* line 1, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
    .promocao {
      margin-top: 15rem; } }
  /* line 20, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
  .promocao .promo__cabecalho {
    height: 40vh;
    background-color: #542639;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 15%;
    display: flex;
    justify-content: center;
    position: relative; }
    @media (min-width: 0px) and (max-width: 480px) {
      /* line 20, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
      .promocao .promo__cabecalho {
        height: 20vh;
        border-bottom-right-radius: 10%; } }
    @media (min-width: 480px) and (max-width: 768px) {
      /* line 20, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
      .promocao .promo__cabecalho {
        height: 35vh; } }
  /* line 44, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
  .promocao .promo__h1 {
    height: 100%;
    font-size: 3rem;
    font-family: "Carter One", cursive;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff; }
    @media (min-width: 0px) and (max-width: 480px) {
      /* line 44, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
      .promocao .promo__h1 {
        font-size: 1.2rem; } }
    @media (min-width: 480px) and (max-width: 768px) {
      /* line 44, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
      .promocao .promo__h1 {
        font-size: 2.5rem; } }
  /* line 69, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
  .promocao .img-detalhe-promo {
    width: 350px;
    position: absolute;
    bottom: -120px;
    left: -100px; }
    @media (min-width: 0px) and (max-width: 480px) {
      /* line 69, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
      .promocao .img-detalhe-promo {
        width: 90px;
        bottom: -30px;
        left: -10px;
        margin-left: .5rem; } }
    @media (min-width: 480px) and (max-width: 768px) {
      /* line 69, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
      .promocao .img-detalhe-promo {
        width: 120px;
        bottom: -40px;
        left: -10px; } }
  /* line 95, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
  .promocao .promo__menu {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    padding: .4rem; }
    @media (min-width: 0px) and (max-width: 480px) {
      /* line 95, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
      .promocao .promo__menu {
        margin-top: 3.5rem; } }
    @media (min-width: 480px) and (max-width: 768px) {
      /* line 95, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
      .promocao .promo__menu {
        margin-top: 4rem; } }
  /* line 112, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
  .promocao .promo__link__fem {
    font-family: "Voltaire", sans-serif;
    font-size: 1.6rem;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    border: 2px solid #000;
    padding: .5rem;
    background-color: #9B1463;
    box-shadow: 1px 1px 8px 1px #000;
    cursor: pointer;
    text-align: center;
    color: #fff; }
    @media (min-width: 0px) and (max-width: 480px) {
      /* line 112, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
      .promocao .promo__link__fem {
        font-size: 1.2rem; } }
    /* line 129, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
    .promocao .promo__link__fem:hover {
      background-color: #fff;
      transition: all .5s;
      color: #000; }
  /* line 136, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
  .promocao .promo__link__masc {
    font-family: "Voltaire", sans-serif;
    font-size: 1.6rem;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    border: 2px solid #000;
    padding: .5rem;
    background-color: #4F667D;
    box-shadow: 1px 1px 8px 1px #000;
    cursor: pointer;
    text-align: center;
    color: #fff; }
    @media (min-width: 0px) and (max-width: 480px) {
      /* line 136, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
      .promocao .promo__link__masc {
        font-size: 1.2rem; } }
    /* line 153, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
    .promocao .promo__link__masc:hover {
      background-color: #fff;
      transition: all .5s;
      color: #000; }
  /* line 165, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
  .promocao .perfumaria__fem {
    margin-top: 4rem;
    position: relative; }
  /* line 170, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
  .promocao .img__detalhe__promo__fem {
    width: 120px;
    height: 120px; }
  /* line 175, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
  .promocao .img__detalhe__promo__fem1 {
    top: 100px;
    bottom: 0;
    left: -80px;
    position: absolute;
    z-index: -1; }
  /* line 183, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
  .promocao .img__detalhe__promo__fem2 {
    top: 300px;
    bottom: 0;
    right: -80px;
    position: absolute;
    transform: scaleX(-1);
    z-index: -1; }
    @media (min-width: 0px) and (max-width: 480px) {
      /* line 183, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
      .promocao .img__detalhe__promo__fem2 {
        display: none; } }
    @media (min-width: 480px) and (max-width: 768px) {
      /* line 183, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
      .promocao .img__detalhe__promo__fem2 {
        display: none; } }
  /* line 200, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
  .promocao .img__detalhe__promo__fem3 {
    top: 600px;
    bottom: 0;
    left: -80px;
    position: absolute;
    z-index: -1; }
  /* line 209, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
  .promocao .img__detalhe__promo__fem4 {
    top: 800px;
    bottom: 0;
    right: -80px;
    transform: scaleX(-1);
    position: absolute;
    z-index: -1; }
    @media (min-width: 0px) and (max-width: 480px) {
      /* line 209, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
      .promocao .img__detalhe__promo__fem4 {
        display: none; } }
    @media (min-width: 480px) and (max-width: 768px) {
      /* line 209, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
      .promocao .img__detalhe__promo__fem4 {
        display: none; } }
  /* line 226, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
  .promocao .img__detalhe__promo__fem5 {
    top: 1200px;
    bottom: 0;
    left: -80px;
    position: absolute;
    z-index: -1; }
  /* line 235, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
  .promocao .img__detalhe__promo__fem6 {
    top: 1400px;
    bottom: 0;
    right: -80px;
    transform: scaleX(-1);
    position: absolute;
    z-index: -1; }
    @media (min-width: 0px) and (max-width: 480px) {
      /* line 235, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
      .promocao .img__detalhe__promo__fem6 {
        display: none; } }
    @media (min-width: 480px) and (max-width: 768px) {
      /* line 235, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
      .promocao .img__detalhe__promo__fem6 {
        display: none; } }
  /* line 252, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
  .promocao .img__detalhe__promo__fem7 {
    top: 1800px;
    bottom: 0;
    left: -80px;
    position: absolute;
    z-index: -1; }
  /* line 260, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
  .promocao .img__detalhe__promo__fem8 {
    top: 2000px;
    bottom: 0;
    right: -80px;
    position: absolute;
    z-index: -1; }
  /* line 268, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
  .promocao .catalogo__promo__titulo {
    font-family: "Carter One", cursive;
    text-align: center;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border: 10px solid #000;
    width: 600px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #9B1463;
    color: #fff;
    font-size: 2rem; }
    @media (min-width: 0px) and (max-width: 480px) {
      /* line 268, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
      .promocao .catalogo__promo__titulo {
        font-size: 1.4rem;
        width: 300px; } }
    @media (min-width: 480px) and (max-width: 768px) {
      /* line 268, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
      .promocao .catalogo__promo__titulo {
        font-size: 1.4rem;
        width: 400px; } }
  /* line 292, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
  .promocao .cards__fem {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem; }
  /* line 300, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
  .promocao .card__prod__fem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    margin-top: 4rem; }
  /* line 308, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
  .promocao .imgs__peq__prod {
    display: flex;
    gap: 4px;
    justify-content: center; }
  /* line 314, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
  .promocao .img__peq__card {
    width: 50px;
    cursor: pointer;
    opacity: .7;
    border: 1px solid #000;
    border-radius: 4px; }
    /* line 321, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
    .promocao .img__peq__card:hover {
      opacity: 1;
      transition: all .5s; }
  /* line 327, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
  .promocao .img__gra__card {
    width: 250px;
    box-shadow: 0px 0px 10px 0px #000;
    margin-bottom: .5rem;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px; }
  /* line 335, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
  .promocao .detalhes__card {
    border: 2px solid #000;
    cursor: pointer;
    background-color: #9B1463;
    width: 250px;
    padding: .5rem;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    border: solid 2px #000;
    text-align: center; }
  /* line 347, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
  .promocao .detalhes__titulo {
    font-family: "Thasadith", sans-serif;
    font-weight: bold;
    padding: 1rem;
    color: #fff;
    text-align: center;
    font-size: 1.2rem; }
  /* line 356, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
  .promocao .nome__prod {
    font-family: "Thasadith", sans-serif;
    font-size: 1.2rem;
    color: #fff;
    padding: .5rem; }
  /* line 363, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
  .promocao .preco s {
    font-family: "Thasadith", sans-serif;
    font-size: 1.2rem; }
  /* line 368, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
  .promocao .preco {
    font-family: "Thasadith", sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    color: #948f8f; }
  /* line 375, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
  .promocao .parcela {
    font-family: "Thasadith", sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    color: #948f8f; }
  /* line 382, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
  .promocao .detalhes__card__marca {
    padding: 1rem 0; }
  /* line 386, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
  .promocao .marca {
    font-family: "Thasadith", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff; }
    /* line 392, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
    .promocao .marca span {
      color: #948f8f; }
  /* line 397, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
  .promocao .familia {
    font-family: "Thasadith", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff; }
    /* line 403, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
    .promocao .familia span {
      color: #948f8f; }
  /* line 408, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
  .promocao .concetracao {
    font-family: "Thasadith", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff; }
    /* line 414, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
    .promocao .concetracao span {
      color: #948f8f; }
  /* line 419, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
  .promocao .prod__btns {
    display: flex;
    margin-top: 1rem; }
  /* line 424, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
  .promocao .prod__link {
    color: #fff;
    font-family: "Thasadith", sans-serif;
    font-weight: bold;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    border: solid 1px #000;
    padding: .5rem;
    width: 100px;
    margin: 0 auto;
    background-color: #31A6AA; }
    /* line 436, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
    .promocao .prod__link:hover {
      background-color: #542639;
      transition: all .5s;
      border: solid 1px #fff; }
  /* line 444, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
  .promocao .prod__modal__detalhes {
    color: #fff;
    font-family: "Thasadith", sans-serif;
    font-weight: bold;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    border: solid 1px #000;
    padding: .5rem;
    width: 100px;
    margin: 0 auto;
    background-color: #31A6AA; }
    /* line 456, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
    .promocao .prod__modal__detalhes:hover {
      background-color: #542639;
      transition: all .5s;
      border: solid 1px #fff; }
  /* line 478, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
  .promocao .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px; }
  /* line 484, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_promocao-fem.scss */
  .promocao .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 650px; }

/* line 1, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_perfumaria-masc.scss */
.perfumaria__masc {
  position: relative; }
  /* line 5, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_perfumaria-masc.scss */
  .perfumaria__masc .img__detalhe__perfMasc {
    width: 120px;
    height: 120px;
    position: absolute; }
  /* line 11, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_perfumaria-masc.scss */
  .perfumaria__masc .img__detalhe__perfMasc1 {
    top: 100px;
    bottom: 0;
    left: -80px;
    position: absolute;
    z-index: -1;
    transform: scaleX(-1); }
  /* line 20, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_perfumaria-masc.scss */
  .perfumaria__masc .img__detalhe__perfMasc2 {
    top: 300px;
    bottom: 0;
    right: -80px;
    position: absolute;
    z-index: -1; }
    @media (min-width: 0px) and (max-width: 480px) {
      /* line 20, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_perfumaria-masc.scss */
      .perfumaria__masc .img__detalhe__perfMasc2 {
        display: none; } }
    @media (min-width: 480px) and (max-width: 768px) {
      /* line 20, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_perfumaria-masc.scss */
      .perfumaria__masc .img__detalhe__perfMasc2 {
        display: none; } }
  /* line 36, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_perfumaria-masc.scss */
  .perfumaria__masc .catalogo__promo__titulo--perfMasc {
    font-family: "Carter One", cursive;
    text-align: center;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border: 10px solid #000;
    width: 600px;
    margin: 5rem auto;
    padding: 1rem;
    background-color: #4F667D;
    color: #fff;
    font-size: 2rem; }
    @media (min-width: 0px) and (max-width: 480px) {
      /* line 36, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_perfumaria-masc.scss */
      .perfumaria__masc .catalogo__promo__titulo--perfMasc {
        font-size: 1.4rem;
        width: 300px; } }
    @media (min-width: 480px) and (max-width: 768px) {
      /* line 36, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_perfumaria-masc.scss */
      .perfumaria__masc .catalogo__promo__titulo--perfMasc {
        font-size: 1.4rem;
        width: 400px; } }
  /* line 60, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_perfumaria-masc.scss */
  .perfumaria__masc .cards__masc {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem; }
  /* line 69, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_perfumaria-masc.scss */
  .perfumaria__masc .card__prod__masc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    margin-top: 4rem; }
  /* line 77, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_perfumaria-masc.scss */
  .perfumaria__masc .imgs__peq__prodMasc {
    display: flex;
    gap: 4px;
    justify-content: center; }
  /* line 83, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_perfumaria-masc.scss */
  .perfumaria__masc .img__peq__card {
    width: 50px;
    cursor: pointer;
    opacity: .7;
    border: 1px solid #000;
    border-radius: 4px; }
    /* line 90, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_perfumaria-masc.scss */
    .perfumaria__masc .img__peq__card:hover {
      opacity: 1;
      transition: all .5s; }
  /* line 96, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_perfumaria-masc.scss */
  .perfumaria__masc .img__gra__cardMasc {
    width: 250px;
    box-shadow: 0px 0px 10px 0px #000;
    margin-bottom: .5rem;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px; }
  /* line 104, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_perfumaria-masc.scss */
  .perfumaria__masc .detalhes__card {
    border: 2px solid #000;
    cursor: pointer;
    background-color: #4F667D;
    width: 250px;
    padding: .5rem;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    border: solid 2px #000;
    text-align: center; }
  /* line 116, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_perfumaria-masc.scss */
  .perfumaria__masc .detalhes__titulo {
    font-family: "Thasadith", sans-serif;
    font-weight: bold;
    padding: 1rem;
    color: #fff;
    text-align: center;
    font-size: 1.2rem; }
  /* line 125, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_perfumaria-masc.scss */
  .perfumaria__masc .nome__prod {
    font-family: "Thasadith", sans-serif;
    font-size: 1.2rem;
    color: #fff;
    padding: .5rem; }
  /* line 132, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_perfumaria-masc.scss */
  .perfumaria__masc .preco s {
    font-family: "Thasadith", sans-serif;
    font-size: 1.2rem; }
  /* line 137, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_perfumaria-masc.scss */
  .perfumaria__masc .preco {
    font-family: "Thasadith", sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    color: #948f8f; }
  /* line 144, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_perfumaria-masc.scss */
  .perfumaria__masc .parcela {
    font-family: "Thasadith", sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    color: #948f8f; }
  /* line 151, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_perfumaria-masc.scss */
  .perfumaria__masc .detalhes__card__marca {
    padding: 1rem 0; }
  /* line 155, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_perfumaria-masc.scss */
  .perfumaria__masc .marca {
    font-family: "Thasadith", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff; }
    /* line 161, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_perfumaria-masc.scss */
    .perfumaria__masc .marca span {
      color: #948f8f; }
  /* line 166, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_perfumaria-masc.scss */
  .perfumaria__masc .familia {
    font-family: "Thasadith", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff; }
    /* line 172, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_perfumaria-masc.scss */
    .perfumaria__masc .familia span {
      color: #948f8f; }
  /* line 177, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_perfumaria-masc.scss */
  .perfumaria__masc .concetracao {
    font-family: "Thasadith", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff; }
    /* line 183, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_perfumaria-masc.scss */
    .perfumaria__masc .concetracao span {
      color: #948f8f; }
  /* line 188, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_perfumaria-masc.scss */
  .perfumaria__masc .prod__btns {
    display: flex;
    margin-top: 1rem; }
  /* line 193, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_perfumaria-masc.scss */
  .perfumaria__masc .prod__link {
    color: #fff;
    font-family: "Thasadith", sans-serif;
    font-weight: bold;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    border: solid 1px #000;
    padding: .5rem;
    width: 100px;
    margin: 0 auto;
    background-color: #31A6AA; }
    /* line 205, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_perfumaria-masc.scss */
    .perfumaria__masc .prod__link:hover {
      background-color: #542639;
      transition: all .5s;
      border: solid 1px #fff; }
  /* line 213, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_perfumaria-masc.scss */
  .perfumaria__masc .prod__modal__detalhes {
    color: #fff;
    font-family: "Thasadith", sans-serif;
    font-weight: bold;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    border: solid 1px #000;
    padding: .5rem;
    width: 100px;
    margin: 0 auto;
    background-color: #31A6AA; }
    /* line 225, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oboticario/scss/_perfumaria-masc.scss */
    .perfumaria__masc .prod__modal__detalhes:hover {
      background-color: #542639;
      transition: all .5s;
      border: solid 1px #fff; }

/*# sourceMappingURL=main.css.map */