.cards__anuncio {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
    position: relative;

    .img__card__anuncio {
        width: 260px;
    }

    .info__anuncio {
        background-color: aqua;
        border-radius: 50%;
        height: 200px;
        width: 200px;
        position: absolute;
        bottom: -150px;
    }

    .anuncio__p {
        text-align: center;
    }

}