.cards__anuncio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
    position: relative;

    background-color: $cor-promo;
    border-top-left-radius: 40%;
    height: 15vw;

        // .card__anuncio {
        //     background-color: teal;
        // }

        .img__card__anuncio {
            width: 260px;
        }

        .info__anuncio {
            padding: 1rem;
            background-color: $cor-header;
        }

        .anuncio__p {
            text-align: center;
            font-family: $fonte-titulo;
            font-size: 2.2rem;
        }

}