.cards__anuncio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 4rem auto;
    max-width: 62.5rem;
    border-bottom-right-radius: 20%;
    position: relative;

    background-color: $cor-promo;
    border-top-left-radius: 40%;
    height: 15vw;

        @include celular {
            height: 40vw;
        }

        @include tablet {
            height: 35vw;
        }

        @include desktop {
            height: 18vw;
        }

      

        // .card__anuncio {
        //     background-color: teal;
        // }

        .img__card__anuncio {
            width: 250px;
            margin-bottom: .5rem;
        }

        .info__anuncio {
            padding: 1rem;
            background-color: $cor-promo;
            border-top-left-radius: 30%;
            box-shadow: 4px 4px 10px 4px #000;
        }

        .anuncio__p {
            text-align: center;
            font-family: $fonte-corpo;
            font-size: 1.5rem;
            color: #fff;
            margin-bottom: .5rem;
        }

        .anuncio__link {
            background-color: $cor-links;
            padding: .5rem;
            text-align: center;
            border-top-left-radius: 15%;
            color: #fff;
            font-family: $fonte-titulo;
            font-size: 1.2rem;
            border: 2px solid #fff;
            margin: 0 auto;
            width: 120px;
            font-weight: bold;

                &:hover {
                    background-color: $cor-header;
                    transition: all .5s;
                    border: 2px solid #000;
                }

        }

}