.header {
    background-image: url("../img/header/background-header.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    position: relative;

        // @include celular {
        //     height: 50vh;
        // }
    
    .design-detalhe {
        width: 95vw;
        background-color: #000;
    }

    .frascos1 {
        width: 550px;
        position: absolute;
        bottom: -90px;
        

            @include celular {
                width: 320px;
                left: -20px;
            }
    }

    .frascos2 {
        width: 550px;
        position: absolute;
        bottom: -50px;
        right: 35px;

            @include celular {
                display: none;
            }

    }


    .menu__mobile {
        width: 75px;
        position: fixed;
        top: 0;
        right: 4px;
        cursor: pointer;

            @include celular {
                width: 60px;
            }
    }

    .logo {
        width: 300px;
        padding: 1rem;
        // background-color: #000;

            @include celular {
                width: 200px;
            }
    }

    .nav__menu {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        position: fixed;
        top: 70px;
        right: 6px;

            @include celular {
                top: 60px;
                gap: .2rem;
            }
    }

    .nav__menu.ativo {
        display: none;
    }

    .nav__item {
        border: 1px solid #000;
    }

    .nav__link {
        font-family: $fonte-menu;
        background-color: $cor-links;
        padding: .5rem;
        text-align: center;
        border-top-left-radius: 35px;
        border-bottom-right-radius: 35px;
        color: #fff;
        font-size: 1.2rem;

            &:hover {
                border-top-left-radius: 35px;
                border-bottom-right-radius: 35px;
                background-color: #000;
                transition: all .5s;
            }

            @include celular {
                font-size: .8rem;
            }
    }





}