.header {
    background-color: $cor-header;

    .menu__mobile {
        width: 70px;
        position: fixed;
        top: 0;
        right: 4px;
    }

    .logo {
        width: 300px;
    }

    .nav__menu {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        position: fixed;
        top: 70px;
        right: 2px;

           
    }

    .nav__item {
        border: 2px solid #000;
    }





}