.modal__promo__fem {

    .modal__promo__fem--box {
        position: relative;
        background: rgba(255,255,255, .4);
    }

    .modal__fem {
        position: fixed;
        top: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        gap: 3rem;
        flex-wrap: wrap;
        width: 1000px;
        height: 500px;
        background: rgba(187, 187, 187, 0.4);
    }

    .modal__fem.ativo {
        display: flex;
    }


    .img__modal__femCard1 {
        width: 300px;
    }

    .modal__prod__titulo {
        font-family: $fonte-titulo;
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }

}




