.promocao {
    margin-top: 15rem;

        @include celular {
            margin-top: 72rem;
        }

        @include tablet {
            margin-top: 70rem;
        }

        @include desktop {
            margin-top: 15rem;
        }

        .promo__cabecalho {
            height: 50vh;
            background-color: $cor-sectionPromo;
            border-bottom-left-radius: 40%;
            display: flex;
            justify-content: center;
            position: relative;

        }

        .img-detalhe-promo {
            width: 350px;
            position: absolute;
            bottom: -70px;
            left: -20px;
           
        }

        .promo__h1 {
            background-color: teal;
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
            font-size: 3rem;
            font-family: $fonte-titulo;
        }



}