.promocao {
    margin-top: 15rem;

        @include celular {
            margin-top: 72rem;
        }

        @include tablet {
            margin-top: 70rem;
        }

        @include desktop {
            margin-top: 15rem;
        }

        .promo__cabecalho {
            height: 40vh;
            background-color: $cor-sectionPromo;
            border-bottom-left-radius: 40%;
            display: flex;
            justify-content: center;
            position: relative;

                @include celular {
                    height: 30vh;
                }

                @include tablet {
                    height: 35vh;
                }

                @include tablet {
                    height: 30vh;
                }

        }

        .promo__h1 {
            height: 100%;
            // width: 100%;
            font-size: 3rem;
            font-family: $fonte-titulo;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: #fff;
               
                @include celular {
                    font-size: 1.5rem;
                }

                @include tablet {
                    font-size: 1.9rem;
                }

                // @include desktop {
                //     font-size: 2.5rem;
                // }

        }

        .img-detalhe-promo {
            width: 350px;
            position: absolute;
            bottom: -70px;
            left: -35px;

                @include celular {
                    width: 170px;
                    bottom: -80px;
                }

                @include tablet {
                    width: 200px;
                    bottom: -80px;
                }

                // @include desktop {
                //     width: 240px;
                //     bottom: -80px;
                // }
           
        }

        .promo__menu {
            display: flex;
            gap: 1rem;
            justify-content: center;
            align-items: center;
            margin-top: 2rem;
        }

        .promo__link {
            font-family: $fonte-menu;
            font-size: 1.8rem;
            border-top-left-radius: 35px;
            border-bottom-right-radius: 35px;
            border: 2px solid #000;
            padding: .5rem;
            background-color: $cor-links;
            cursor: pointer;

                &:hover {
                    background-color: $cor-sectionPromo;
                    transition: all .5s;
                    color: #fff;
                }
        }


        .catalogo__fem {
            margin-top: 4rem;
        }


}