.promocao {
    margin-top: 15rem;

        @include celular {
            margin-top: 72rem;
        }

        @include tablet {
            margin-top: 70rem;
        }

        @include desktop {
            margin-top: 15rem;
        }

        .promo__cabecalho {
            height: 40vh;
            background-color: $cor-sectionPromo;
            border-bottom-left-radius: 40%;
            display: flex;
            justify-content: center;
            position: relative;

                @include celular {
                    height: 30vh;
                }

                @include tablet {
                    height: 35vh;
                }

                @include tablet {
                    height: 30vh;
                }

        }

        .promo__h1 {
            height: 100%;
            // width: 100%;
            font-size: 3rem;
            font-family: $fonte-titulo;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: #fff;
               
                @include celular {
                    font-size: 1.5rem;
                }

                @include tablet {
                    font-size: 1.9rem;
                }

                // @include desktop {
                //     font-size: 2.5rem;
                // }

        }

        .img-detalhe-promo {
            width: 350px;
            position: absolute;
            bottom: -70px;
            left: -35px;

                @include celular {
                    width: 150px;
                    bottom: -60px;
                    margin-left: .5rem
                }

                @include tablet {
                    width: 200px;
                    bottom: -80px;
                }

                // @include desktop {
                //     width: 240px;
                //     bottom: -80px;
                // }
           
        }

        .promo__menu {
            display: flex;
            gap: 1rem;
            justify-content: center;
            align-items: center;
            margin-top: 5rem;

                @include celular {
                    margin-top: 3.5rem;
                }

                @include tablet{
                    margin-top: 4rem;
                }
        }

        .promo__link {
            font-family: $fonte-menu;
            font-size: 1.8rem;
            border-top-left-radius: 35px;
            border-bottom-right-radius: 35px;
            border: 2px solid #000;
            padding: .5rem;
            background-color: $cor-links;
            cursor: pointer;
            text-align: center;

            @include celular {
                font-size: 1.2rem;
            }

                &:hover {
                    background-color: $cor-sectionPromo;
                    transition: all .5s;
                    color: #fff;
                }
        }

        
    /******* CARDS PROMO FEM ********/
    .catalogo__fem {
        margin-top: 4rem;
    }

    .catalogo__promo__titulo {
        font-family: $fonte-titulo;
        text-align: center;
        border-top-left-radius: 40px;
        border-bottom-right-radius: 40px;
        border: 10px solid #000;
        width: 600px;
        margin: 0 auto;
        padding: 1rem;
        background-color: $cor-sectionPromo;
        color: #fff;
        font-size: 2rem;

            @include celular {
                font-size: 1.4rem;
                width: 300px;
            }

            @include tablet {
                font-size: 1.4rem;
                width: 400px;
            }
    }

    .cards__fem {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .card__prod__fem {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;
        margin-top: 4rem;
    }

    .imgs__peq__prod {
        display: flex;
        gap: 4px;
        justify-content: center;

    }

    .img__peq__card {
        width: 50px;
        cursor: pointer;
        opacity: .7;
        border: 1px solid #000;
        border-radius: 4px;

            &:hover {
                opacity: 1;
                transition: all .5s;
            }
    }

    .img__gra__card {
        width: 250px;
        box-shadow: 0px 0px 10px 0px #000;
        margin-bottom: .5rem;
        border-top-left-radius: 35px;
        border-bottom-right-radius: 35px;
    }

    .detalhes__card {
        border: 2px solid #000;
        cursor: pointer;
        background-color: $cor-sectionPromo;
        width: 250px;
        padding: .5rem;
        border-top-left-radius: 35px;
        border-bottom-right-radius: 35px;
        border: solid 2px #000;
        text-align: center;
    }

    .detalhes__titulo {
        font-family: $fonte-corpo;
        font-weight: bold;
        padding: 1rem;
        color: #fff;
        text-align: center;
        font-size: 1.2rem;
    }

    .nome__prod {
        font-family: $fonte-corpo;
        font-size: 1.2rem;
        color: #fff;
        padding: .5rem;
    }

    .preco s {
        font-family: $fonte-corpo;
        font-size: 1.2rem;
    }

    .preco {
        font-family: $fonte-corpo;
        font-size: 1.6rem;
        font-weight: bold;
        color: #948f8f;
    }

    .parcela {
        font-family: $fonte-corpo;
        font-size: 1.4rem;
        font-weight: bold;
        color: #948f8f;
    }

    .marca {
        font-family: $fonte-corpo;
        font-size: 1.2rem;
        color: #fff;
        padding: .2rem;
        margin-top: 1rem;
        font-weight: bold;
    }

    .familia {
        font-family: $fonte-corpo;
        font-size: 1.2rem;
        color: #fff;
        padding: .2rem;
        font-weight: bold;
    }

    .prod__link {
        color: #fff;
        font-family: $fonte-corpo;
        font-weight: bold;
        border-top-left-radius: 35px;
        border-bottom-right-radius: 35px;
        border: solid 1px #000;
        padding: .5rem;
        width: 180px;
        margin: 0 auto;
        background-color: $cor-links;

            &:hover {
                background-color: $cor-promo; 
                transition: all .5s; 
                border: solid 1px #fff;
            }

    }







    

    





    /******* SWIPER SLIDER's ********/
    .swiper {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

      .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 300px;
        height: 650px;
    }

    //   .swiper-slide img {
    //     display: block;
    //     width: 100%;
    // }
 



}