/********* VARIÁVEIS *********/
$cor-header: #BD6C8C;
$cor-links: #31A6AA;
$cor-promo: #542639;
$cor-sectionFem: #866AC8;
$cor-sectionMasc: #073B3A;
$fonte-menu: 'Voltaire', sans-serif;
$fonte-titulo: 'Thasadith', sans-serif;


/********* CONFIGURAÇÔES *********/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    display: block;
    text-decoration: none;
}

ul, li {
    list-style: none;
}

img {
    display: block;
    width: 100%;
}


/********* MIXINS *********/
@mixin celular {
    @media(min-width:0px) and (max-width:480px) {
        @content;
    }        
}


/********* PÁGINA *********/
@import "header.scss";
@import "cards-anuncio.scss";